.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  grid-gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}

.cards.commissioner {
  >ul {
    >li {
      display: flex;

      .cards-card-image {
        width: 40%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;

        img {
          aspect-ratio: 3/4;
          object-fit: cover;
        }
      }

      .cards-card-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        p {
          margin: 0;

          em {
            display: inline-block;
            background-color: var(--light-gray);
            padding: 2px 10px;
            border-radius: 10px;
            font-style: normal;
            font-size: var(--body-font-size-s);
            font-weight: 500;
            color: black;
          }
        }
      }

      &:has(em) {
        background-color: var(--dark-blue);
        color: white;
      }
    }
  }
}
