.video-gallery {
    display: flex;
    margin-top: 40px;

    .video {
        width: 50%;
        color: transparent;
    }
    
    .video-tabs {
        width: 50%;
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        li {
            width: calc(50% - 40px);
            padding: 0 20px 40px;

            img {
                min-width: 100%;
                aspect-ratio: 16/9;
                object-fit: contain;
            }
        }
    }
}