/* header and nav layout */

header .nav-wrapper {
  background-color: var(--dark-blue);
  color: white;
  width: 100%;
  z-index: 2;
}

body.nav-open .nav-wrapper {
  position: fixed;
  z-index: 100;
}

@media (width >= 900px) {
  header nav {
    display: flex;
    justify-content: space-between;
    gap: 0 32px;
    padding: 0 32px;
  }

  header nav[aria-expanded='true'] {
    min-height: 0;
    overflow: visible;
  }
}

header nav p {
  margin: 0;
  line-height: 1;
}

header nav a:any-link {
  color: currentcolor;
}


/* brand */
header .nav-brand {
  grid-area: brand;
  flex-basis: 128px;
  font-size: var(--heading-font-size-s);
  font-weight: 700;
  line-height: 1;
}

header nav .nav-brand img {
  width: 128px;
  height: auto;
}

/* sections */
header nav {
  box-sizing: border-box;
  align-items: center;
  margin: auto;
  height: var(--nav-height);
  padding: 0 24px;
  font-family: var(--body-font-family);
  display: flex;
  justify-content: space-between;

  >div {
    width: 30%;
  }

  .nav-sections {
    position: relative;

    >.default-content-wrapper {
     position: fixed;
     z-index: 300;
     width: 80%;
     left: -100%;
     background-color: white;
     height: 100vh;
     color: var(--med-blue);
     padding: 30px 10%;
     margin: auto;
     transition: all .5s ease;
     overflow-y: scroll;
    }
  
    button {
      border: 1px solid var(--light-blue);
      background-color: transparent;
      border-radius: 10px;
      font-size: var(--body-font-size-xs);
      font-family: var(--body-font-family);
    }

    ul {
      list-style: none;
      padding-left: 0;
      font-size: var(--body-font-size-s);

      > li {
        font-weight: 500;

        > ul {
          margin-top: 0;

          > li {
            font-weight: 400;
          }
        }
      }
    }
  
   
  }

  &[aria-expanded='true'] {
    overflow-y: auto;
    min-height: 100dvh;

    .nav-sections {
      >.default-content-wrapper {
        display: block;
        left: 0;

        >ul {
          width: 60%;

          >li {
            border-bottom: 1px solid var(--light-gray);
            margin-bottom: 30px;

            >ul {
              position: relative;
              width: 100%;

              >li {
                margin-bottom: 20px;
                font-weight: bold;
                white-space: normal;

                em {
                  font-weight: normal;
                  font-size: small;
                  color: gray;
                  display: block;
                  margin-left: 40px;
                }

                span.icon {
                  background-color: var(--light-blue);
                  margin-bottom: -6px;
                  margin-right: 15px;
                }
              }
            }
          }
        }
      }
    }
    
  }

}

@media (width >= 900px) {
  header nav .nav-sections {
    display: block;
    visibility: visible;
    white-space: nowrap;
  }

  header nav[aria-expanded='true'] .nav-sections {
    align-self: unset;
  }

  header nav .nav-sections .nav-drop {
    position: relative;
    padding-right: 16px;
    cursor: pointer;
  }

  header nav .nav-sections .nav-drop::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0.5em;
    right: 2px;
    transform: rotate(135deg);
    width: 6px;
    height: 6px;
    border: 2px solid currentcolor;
    border-radius: 0 1px 0 0;
    border-width: 2px 2px 0 0;
  }

  header nav .nav-sections .nav-drop[aria-expanded='true']::after {
    top: unset;
    top: 0.5em;
    transform: rotate(315deg);
  }

  header nav .nav-sections ul {
    margin: 0;
  }

  header nav .nav-sections .default-content-wrapper > ul > li {
    flex: 0 1 auto;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul {
    display: none;
    position: relative;
  }

  header nav .nav-sections .default-content-wrapper > ul > li[aria-expanded='true'] > ul {
    display: block;

  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul::before {
    content: '';
    position: absolute;
    top: -8px;
    left: 16px;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--light-color);
  }

  header nav .nav-sections .default-content-wrapper > ul > li > ul > li {
    padding: 8px 0;
  }
}

/* tools */
header nav .nav-tools {
  text-align: right;

  img {
    filter: invert(100%);
    height: 35px;
  }
}

/* Breadcrumbs */
nav.breadcrumbs {
  background-color: var(--light-orange);

  ol {
    display: flex;
    max-width: 1200px;
    list-style: none;
    padding: 5px 0;
    margin: 0 auto;

    li {
      font-size: small;
      font-weight: bold;
      margin-right: 20px;
      padding-right: 40px;
      position: relative;

      &:after {
        width: 15px;
        height: 15px;
        content: '';
        display: inline-block;
        background-color: var(--orange);
        position: absolute;
        right: 0;
        top: 2px;
        mask-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%2216%22%20width%3D%2210%22%20viewBox%3D%220%200%20320%20512%22%3E%3Cpath%20opacity%3D%221%22%20fill%3D%22%231E3050%22%20d%3D%22M278.6%20233.4c12.5%2012.5%2012.5%2032.8%200%2045.3l-160%20160c-12.5%2012.5-32.8%2012.5-45.3%200s-12.5-32.8%200-45.3L210.7%20256%2073.4%20118.6c-12.5-12.5-12.5-32.8%200-45.3s32.8-12.5%2045.3%200l160%20160z%22%2F%3E%3C%2Fsvg%3E');
        mask-size: contain;
        mask-repeat: no-repeat;
      }

      &:last-of-type {
        &::after{
          display: none;
        }
      }

      a {
        color: black;
      }
    }
  }
}
